#banner {
    color: purple;
    background-color: beige;
    font-size: large;
    font-weight: bold;
}

#banner::before{
    /* this :: denotes that this is psuedo element not psuedo selector */
   content: 'This before psuedo element text: ';
   background-color: aqua;
}

#banner::after{
    /* this :: denotes that this is psuedo element not psuedo selector you can't catch this with js */
   content: ' :this after psuedo element text ';
   background-color: greenyellow;
}

#banner::first-letter {
    text-transform: lowercase;
}

#banner:hover::before {
    text-transform: uppercase;
}